<ion-view view-title="Приёмная комиссия">
  <ion-content align="center">

    <h2>Свяжитесь с нами</h2>

    <p>Приемная комиссия ПГУТИ
    443090, г. Самара,
    Московское шоссе, д. 77, комн. 201</p><br/>
   <h2> Приемная комиссия:</h2>
    (846) 228-00-58<br/>
    (846) 228-00-51<br/>
    (846) 339-11-11<br/>
    <h2> Подготовительные курсы:</h2><br/>
    (846) 228-00-58<br/>
    (846) 228-00-51<br/>
    <h2> В интернете:</h2><br/>

    abitur@psuti.ru<br/>
    http://abitur.psuti.ru/<br/>

    <a  class="button button-full button-positive  bar-footer" href="#/app/map">Посмотреть на карте</a>
  </ion-content>
</ion-view>
