<ion-view view-title="Главная">
  <ion-content>

    <div class="row ">
      <div class="col">
        <img src="img/logo.jpg" width="100%" />
      </div>
    </div>
    <div class="row ">
      <div class="col col-50">
        <a href="#/app/news">
          <div class="card" >
             <img src="img/news.jpg" width="100%" />
             <div class="item item-text-wrap" >НОВОСТИ </div><!--</br>-->
          </div>
        </a>
      </div>
      <div class="col col-50 ">
        <a href="#/app/news">
           <div class="card">
             <img src="img/psuti.jpg" width="100%" />
               <div class="item item-text-wrap">
                 ИНФОРМАЦИЯ О ВУЗЕ
               </div>
          </div>
        </a>
       </div>
    </div>
    <div class="row ">
      <div class="col col-50">
        <a href="#/app/commis">
          <div class="card">
             <img src="img/commiss.jpg" width="100%" />
             <div class="item item-text-wrap">ПРИЕМНАЯ КОМИССИЯ</div>
          </div>
        </a>
      </div>
      <div class="col col-50 ">
        <a href="#/app/vektors">
          <div class="card">
             <img src="img/anten.jpg" width="100%" />
             <div class="item item-text-wrap">НАПРАВЛЕНИЯ ПОДГОТОВКИ</div>
          </div>
        </a>
       </div>
    </div>
    <div class="row ">
      <div class="col col-50" ng-click="window.open('http://psuti.ru/','_system')">
        <div class="card">
           <img src="img/site.jpg" width="100%" />
           <div class="item item-text-wrap">САЙТ ВУЗА</div>
        </div>
      </div>
      <div class="col col-50 ">
        <div class="card">
           <img src="img/profile.jpg" width="100%" />
           <div class="item item-text-wrap">ПРОФИЛЬ</div>
        </div>
       </div>
    </div>
<!--  <div aling='center'>
    <div class="row row-center">
      <div class="col col-50">
        <div class="card"  >
          <img class='center' style="max-width: 50%" src="img/news.jpg" ></img>
          <div class="item item-divider center">
            НОВОСТИ
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card" >
          <img class='center'  style="max-width: 50%" src="img/psuti.jpg" ></img>
          <div class="item item-divider center">
            ИНФОРМАЦИЯ О ВУЗЕ
          </div>
        </div>
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-50">
        <div class="card">
          <img class='center'  style="max-width: 50%" src="img/commiss.jpg" ></img>
          <div class="item item-divider center">
            ПРИЕМНАЯ КОМИССИЯ
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card" >
          <img class='center'  style="max-width: 50%" src="img/anten.jpg" ></img>
          <div class="item item-divider center">
            НАПРАВЛЕНИЯ ПОДГОТОВКИ
          </div>
        </div>
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-50">
        <div class="card">
          <img class='center'  style="max-width: 50%" src="img/site.jpg" ></img>
          <div class="item item-divider center">
          САЙТ ВУЗА
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card" >
          <img class='center'  style="max-width: 50%" src="img/profile.jpg" ></img>
          <div class="item item-divider center">
            ПРОФИЛЬ
          </div>
        </div>
      </div>
    </div>
  </div>
########################################
   <div class="eag-home-container-flex">
          <div class="eag-home-container">
          <div class ="row">
            <div class="col"><button class="button button-stable button-clear eag-home-button"><img src="../img/news.jpg" ></button><p class="eag-home-label">НОВСТИ</p></div>
            <div class="col"><button class="button button-stable button-clear eag-home-button"><img src="img/psuti.jpg" ></button><p class="eag-home-label">ИНФОРМАЦИЯ О ВУЗЕ</p></div>

            </div>
            <div class ="row">
            <div class="col"><button class="button button-stable button-clear eag-home-button"><img src="../img/commiss.jpg" ></button><p class="eag-home-label">ПРИЕМНАЯ КОМИССИЯ</p></div>
            <div class="col"><button class="button button-stable button-clear eag-home-button"><img src="../img/anten.jpg" ></button><p class="eag-home-label">НАПРАВЛЕНИЯ ПОДГОТОВКИ</p></div>

            </div>
            <div class ="row">
            <div class="col"><button class="button button-stable button-clear eag-home-button"><img src="/img/site.jpg" ></button><p class="eag-home-label">САЙТ ВУЗА</p></div>
            <div class="col"><button class="button button-stable button-clear eag-home-button"><img src="/img/profile.jpg" ></button><p class="eag-home-label">ПРОФИЛЬ</p></div>

            </div>
            </div>
        </div>


##########################################

    <div class="" >
      <div class="row">
        <div class="col-offset-33"> <a href="#/app/news" class='button button-full' >
          Новости
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-33" > <a class='button button-full' href="#/app/commis">
          Приёмная комиссия
        </a></div>
      </div>
      <div class="row">
        <div class="col col-offset-33">
          <a class='button button-full' href="#/app/vektors">
            Направления подготовки
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-33">
          <button class="button button-full" ng-click="window.open('http://psuti.ru');">Сайт университета</button>
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
