﻿
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class=" bar-positive">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>

            <!--<ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons> -->
        </ion-nav-bar>
       <!--- twitter button <button id="fab" class="button button-positive button-fab button-fab-bottom-right">
            <i class="icon ion-social-twitter"></i>
        </button> ---->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
           <!-- <img src="img/logo.png" class="avatar motion spin fade">-->
            <div class="menu-bottom">
                ПГУТИ
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
              <!-- <ion-item menu-close ng-click="login()">
        Login
      </ion-item> -->
              <ion-item menu-close href="#/app/search">
                Search
              </ion-item>
              <ion-item menu-close href="#/app/news">
                Новости
              </ion-item>
              <ion-item menu-close href="#/app/vektors">
                Направления подготовки
              </ion-item>
              <ion-item menu-close href="#/app/commis">
                Приёмная комиссия
              </ion-item>
              <!--<ion-item menu-close href="#/app/playlists">
                Playlists
              </ion-item> -->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
