<ion-view view-title="Новости" >

  <ion-content>
    <div class="button-bar">
      <button class="button  button-positive" ng-click="newsFbto()">ФБТО</button>
      <button class="button  button-stable" ng-click="">ФЗО</button>
      <button class="button  button-calm" ng-click="newsFist()">ФИСТ</button>
    </div>
    <div class="list card" ng-repeat="itemz in rss.feed.entries">

      <div class="item">
        <h2>{{itemz.author}}</h2>
        <p>{{itemz.publishedDate | datefilter }}</p>
        <h3>{{itemz.title}}</h3>
      </div>

      <div class="item item-body">
        <p ng-bind-html="itemz.content | unsafe"></p>
      </div>

    </div>

  </ion-content>
</ion-view>
