

<ion-view view-title="Новости" >

  <ion-nav-buttons side="right">
    <div ng-click="openPopover($event)">{{newsSelected}}<button class="button button-icon button-clear ion-android-more-vertical"></button> </div>
  </ion-nav-buttons>
  <ion-content>
    <!--<div class="button-bar">
      <button class="button  button-positive" ng-click="newsFbto()">ФБТО</button>
      <button class="button  button-stable" ng-click="">ФЗО</button>
      <button class="button  button-calm" ng-click="newsFist()">ФИСТ</button>
    </div>-->
    <div class="list card" ng-repeat="itemz in rss">

      <div class="item">
        <h2>{{itemz.author}}</h2>
        <p ng-if="newsSelected != 'ФЗО'">{{itemz.publishedDate | datefilter }}</p>
        <p ng-if="newsSelected == 'ФЗО'">{{itemz.publishedDate}}</p>
        <h3>{{itemz.title}}</h3>
      </div>

      <div class="item item-body">
        <p ng-bind-html="itemz.content | unsafe"></p>
      </div>

    </div>

  </ion-content>
</ion-view>
