<ion-view view-title="Направления подготовки">
  <ion-content>
      <!--<ul class="list">
        <li class="item" ng-repeat="item in data">
          <div class="card button-positive"  >
             <a class="card item button-positive"  href="#/app/vektors/{{item.id}}" >
               {{item.title}}
             </a>
          </div>
        </li>
      </ul>-->
    <div class="item item-divider">Выберите раздел</div>
    <div class="list" >
      <a class="item item-text-wrap"  href="#/app/vektors/{{item.id}}" ng-repeat="item in data">
        {{item.title}}
      </a>
    </div>
  </ion-content>
</ion-view>
